extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Hans Steffens

        h2 Front End Software Engineer


        .about-bio

          p I'm a front-end software engineer specializing in building (and occasionally designing) exceptional digital experiences.
          p Interested in the details whether it be cleanliness of code, or wrangling pixels. I'm dedicated, loyal, personable, passionate and hardworking with a penchant for meeting deadlines. I turned a love of using the web to a love of creating it and have a continued drive to learn more and more, facing each challenge with fervor and determination.
          p Currently, I'm focused on building accessible, human-centered digital products.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li +57(318)388 32 27
          li hans@steffens.co

        a.btn-link(href='https://www.linkedin.com/in/hanscode/', target="_blank") LinkedIn
        a.btn-link(href='https://github.com/hanscode', target="_blank") GitHub
        a.btn-link(href='https://twitter.com/hanscode', target="_blank") Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back