extends layout.pug

block content

   nav.nav
    a(href='/')
      span &larr;
      |  Back
    
   article.portfolio-intro
    h1= `${err.status} - Page Not Found`
    p= `${err.message}`
    a(href=`/`) Go to Homepage &rarr;