extends layout.pug

block content

   nav.nav
    a(href='/')
      span &larr;
      |  Back
    
   article.portfolio-intro
    h1= `404 - Page Not Found`
    p= `Oops!  It looks like the page you're looking for does not exist.`
    a(href=`/`) Go to Homepage &rarr;